body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 500px;
  }

  p{
	  color:white;
  }

p::first-letter {
  font-size: 200%;
  color:red;
}

h4,p{
	text-align:center;
}

input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit]{ background-color: blue;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 8px 0px;
  cursor: pointer;
}